<!DOCTYPE html>
<html ng-app="myView">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[SingP]</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="jquery-ui-1.11.4\jquery-ui.min.css">
    <link rel="stylesheet" href="css\styles.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css\test.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="bootstrap-social-icons\assets\font-awesome\css\font-awesome.min.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller="ProjectController">
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                      <i class="fa fa-bars"></i>
                  </button>
                  <a class="navbar-brand page-scroll" href="index.html">
                      <span class="light">Sing</span> Pang
                  </a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                  <ul class="nav navbar-nav snip1135">
                      <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                      <li class="hidden">
                          <a href="index.html"></a>
                      </li>
                      <li>
                          <a class="page-scroll" href="about.html">About</a>
                      </li>
                      <li>
                          <a class="page-scroll" href="project.html">Project</a>
                      </li>

                      <li>
                          <a class="page-scroll" href="contact.html">Contact</a>
                      </li>
                  </ul>

              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>

      <header class="full-header">
          <div class="header-content">
              <div class="header-content-inner">
                  <h1></h1>

                  <p></p>

              </div>
          </div>
          </header>

    <main>
      <div class="introbg" id="welc">


          <section class="bg_welcome" id="welcome">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-8 col-lg-offset-2 text-center intro-text hideme">
                              <h2>WELCOME</h2>
                              <hr>
                              <p>
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida
                                  leo sit amet nisl egestas, eu cursus mi volutpat. Class aptent taciti socio
                                  ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam
                                  mattis dolor vel tempor cursus. Nam ac neque finibus,
                              </p>
                          </div>
                      </div>
                  </div>
              </section>





                    <!-- <section id="portfolio" class="bg-light-gray featured" ng-controller="ProjectController">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center project-section">
                        <h1>FEATURED</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="project in projects">
                        <a ng-href="{{project.link}}" class="shadowbox portfolio-link">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">

                                        <ul class="code-links">
                                            <li>{{project.desc1}}</li
                                            <li>{{project.desc2}}</li>
                                            <li>{{project.desc3}}</li>
                                        </ul>

                                </div>
                            </div>
                            <img ng-src="{{project.imgSrc}}" class="img-responsive" alt="">
                        </a>
                        <div class="shadowbox2 portfolio-caption">
                            <h4>{{project.name}}</h4>
                            <p class="text-muted">{{project.role}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->


        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center project-section">
                    <h1>LATEST WORK</h1>
                    <hr>
                </div>
            </div>
        </div>
        <div class="container">
                <section class="col-md-12 content" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                   <div class="col-lg-6 col-md-6 content-item">
                       <img src="img\nb_thumbnail.jpg" alt="Image" class="tm-image">
                   </div>
                   <div class="col-lg-6 col-md-6 content-item background flexbox">
                       <h2 class="section-title">NUTRIBOX</h2>
                       <p>Maecenas tempus nisi in arcu facilisis venenatis. Fusce ac turpis sem. Nulla eget sem sit amet turpis tempus viverra at et odio. Crasvel eros id ipsum accumsan venenatis ut nec ipsum. </p>
                       <p>Nulla odio nunc, rhoncus quis porttitor quis, convallis sed tortor. Quisque dui metus, euismod vel sapien at, maximus feugiat tellus. </p>
                       <p><b>Role:</b> Front-Dev, UI/UX, Graphic Design</p>
                       <p><b>Skills:</b> WORDPRESS, HTML/CSS, PHOTOSHOP</p>
                       <div>
                          <a href="nutribox.html"> <button type="button" class="btn dark-blue-bordered-btn normal-btn">Read more</button></a>

                       </div>
                   </div>
               </section>
           </div>

               <section class="col-md-12 content padding" id="services" style="background: #f1f1f1; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                   <div class="container">
                <div class="col-lg-6 col-md-6 col-md-push-6 content-item">
                   <img src="img\business_thumbnail.jpg" alt="Image" class="tm-image">
               </div>
               <div class="col-lg-6 col-md-6 col-md-pull-6 content-item background flexbox">
                   <h2 class="section-title">TOUCHBASE Business cards</h2>
                   <p>Maecenas tempus nisi in arcu facilisis venenatis. Fusce ac turpis sem. Nulla eget sem sit amet turpis tempus viverra at et odio. Crasvel eros id ipsum accumsan venenatis ut nec ipsum. </p>
                   <p>Nulla odio nunc, rhoncus quis porttitor quis, convallis sed tortor. Quisque dui metus, euismod vel sapien at, maximus feugiat tellus. </p>
                    <p><b>Role:</b> Graphic Design</p>
                    <p><b>Skill:</b> PHOTOSHOP</p>
                   <div>
                     <a href="touchbase-business.html">   <button type="button" class="btn dark-blue-bordered-btn normal-btn">Read more</button></a>
                   </div>

               </div>
           </div>
           </section>

           <div class="container">
           <section class="col-md-12 content" id="clients" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
               <div class="col-lg-6 col-md-6 content-item">
                   <img src="img\Portfoliosite_thumbnail.jpg" alt="Image" class="tm-image">
               </div>
               <div class="col-lg-6 col-md-6 content-item background flexbox">
                   <h2 class="section-title">Personal Portfolio Site</h2>
                   <p>Maecenas tempus nisi in arcu facilisis venenatis. Fusce ac turpis sem. Nulla eget sem sit amet turpis tempus viverra at et odio. Crasvel eros id ipsum accumsan venenatis ut nec ipsum. </p>
                   <p>Nulla odio nunc, rhoncus quis porttitor quis, convallis sed tortor. Quisque dui metus, euismod vel sapien at, maximus feugiat tellus. </p>
                    <p><b>Role:</b> Front-Dev, UI/UX, Graphic Design</p>
                    <p><b>Skills:</b> HTML/CSS, ANGULARJS, JQUERY, Bootstrap, PHOTOSHOP</p>

                   <div>
                      <a href="portfolio.html"> <button type="button" class="btn dark-blue-bordered-btn normal-btn">Read more</button></a>
                   </div>
               </div>
           </section>
</div>








        <!-- <section id="latest_work" class="latest_work">

            <div class="col-lg-12 text-center project-section" style="margin-top:-3%;">
                <h1>FEATURED</h1>
                <hr>
            </div>

                            <ul>
                            <li ng-repeat="project in projects">
                <div class="row games" style="opacity: 1; transform: translateY(0%);">
                    <div class="game_prev"><img ng-src="{{project.imgSrc}}" class="img-responsive img game_2" alt=""></div>
                    <div class="description">
                        <div class="titel"><h2>{{project.name}}</h2></div>
                        <div class="summary">
                    <p>{{project.bdesc}}</p>
                <a ng-href="{{project.link}}" class="button2 button-green" style="color:black;">READ MORE</a>

                </div> </div></div></li>


                                </section>
 -->




 <div style="margin-top:-5%;" ng-include = "'html/more.html'"></div>

</main>




    </main>




    <div ng-include="'html/footer.html'"></div>










      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      <script src="jquery-ui-1.11.4\external\jquery\jquery.js"></script>
      <script src="jquery-ui-1.11.4\jquery-ui.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <script src="js\main.js" charset="utf-8"></script>
      <script src="js\app.js" charset="utf-8"></script>



  </body>
</html>
